.gallery {
  .container {
    padding-top: 60px;
    padding-bottom: 120px;

    @include vp-767 {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__link {
    margin-bottom: 50px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1.73fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 25px;

    padding: 0;
    margin: 0;
    list-style: none;

    @include vp-1023 {
      grid-gap: 20px;
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-gap: 20px;
    }
  }

  &__item--big {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  &__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
