.range {
width: 100%;
}

.noUi-target {
  width: 100%;
  height: 2px;
  background-color: $color-desert-storm;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  right: -7px;
  top: -7px;
  background-color: $color-medium-wood;
  border: none;
  border-radius: 50%;
  box-shadow: none;

  &::before,
  &::after {
    display: none;
  }
}
