-
  const catalogFilter = [
    {
      trigger: "Product",
      inputs: [
        {
          label: "Necklaces",
          name: "product",
          value: "necklaces",
          isChecked: true
        },
        {
          label: "Chokers",
          name: "product",
          value: "chokers",
          isChecked: true
        },
        {
          label: "Rings",
          name: "product",
          value: "rings",
          isChecked: false
        },
        {
          label: "Earrings",
          name: "product",
          value: "earrings",
          isChecked: true
        }
      ],
    },
    {
      trigger: "Material",
      inputs: [
        {
          label: "Gold",
          name: "product",
          value: "gold",
          isChecked: true
        },
        {
          label: "Silver",
          name: "product",
          value: "silver",
          isChecked: false
        }
      ],
    },
    {
      trigger: "Collection",
      inputs: [
        {
          label: "Pink flamingo",
          name: "product",
          value: "pink-flamingo",
          isChecked: false
        },
        {
          label: "Dreams",
          name: "product",
          value: "dreams",
          isChecked: true
        }
      ],
    },
    {
      trigger: "Price",
      divClass: "range"
    }
  ];

-
  const catalogList = [
    {
      href: "#",
      title: "Double pearl earrings",
      price: "$ 115",
      img: {
        path: "content/catalog",
        name: "img-1",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img-1"
      }
    },
    {
      href: "#",
      title: "Choker with gold bead",
      price: "$ 55",
      img: {
        path: "content/catalog",
        name: "img-2",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img2"
      }
    },
    {
      href: "#",
      title: "Gold layered necklace",
      price: "$ 115",
      img: {
        path: "content/catalog",
        name: "img-3",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img3"
      }
    },
    {
      href: "#",
      title: "Blue gemstone pendant",
      price: "$ 105",
      img: {
        path: "content/catalog",
        name: "img-4",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img4"
      }
    },
    {
      href: "#",
      title: "Boho earrings",
      price: "$ 75",
      img: {
        path: "content/catalog",
        name: "img-5",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img5"
      }
    },
    {
      href: "#",
      title: "Gold bird necklace",
      price: "$ 135",
      img: {
        path: "content/catalog",
        name: "img-6",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img6"
      }
    },
    {
      href: "#",
      title: "Black leather choker",
      price: "$ 85",
      img: {
        path: "content/catalog",
        name: "img-7",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img7"
      }
    },
    {
      href: "#",
      title: "Necklace with amethyst",
      price: "$ 145",
      img: {
        path: "content/catalog",
        name: "img-8",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img8"
      }
    },
    {
      href: "#",
      title: "Elephant earrings",
      price: "$ 95",
      img: {
        path: "content/catalog",
        name: "img-9",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img9"
      }
    },
    {
      href: "#",
      title: "Threader necklace",
      price: "$ 115",
      img: {
        path: "content/catalog",
        name: "img-10",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img10"
      }
    },
    {
      href: "#",
      title: "Origami crane necklace",
      price: "$ 105",
      img: {
        path: "content/catalog",
        name: "img-11",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img11"
      }
    },
    {
      href: "#",
      title: "Marble earrings",
      price: "$ 95",
      img: {
        path: "content/catalog",
        name: "img-12",
        format: "jpg",
        width: 232,
        height: 234,
        altText: "img12"
      }
    },
  ];
