-
  const introMain = {
    title: "Perfection <span>Made to be yours</span>",
    background: {
      path: "content/intro",
      name: "bg-main",
      format: "jpg",
      width: 1238,
      height: 463,
      altText: "bg"
    }
  };

-
  const introCatalog = {
    title: "ALL JEWELLERY <span>Discover picks of fashion's finest trends in our jewellery catalog</span>",
    background: {
      path: "content/intro",
      name: "bg-catalog",
      format: "jpg",
      width: 1238,
      height: 261,
      altText: "bg"
    }
  };
