include ./base/header
include ./base/footer
include ./base/modal

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

include ./modals/modal-login

include ./blocks/background
include ./blocks/socials
include ./blocks/search
include ./blocks/subscribe-form
include ./blocks/intro
include ./blocks/product
include ./blocks/shop
include ./blocks/blog
include ./blocks/faq
include ./blocks/gallery
include ./blocks/catalog-filter
include ./blocks/catalog

include ./mixins/btn
include ./mixins/burger
include ./mixins/custom-input
include ./mixins/custom-toggle
include ./mixins/logo
include ./mixins/slider
include ./mixins/accordion

include ./data/intro
include ./data/catalog
